annotated-types
anyio
audioop-lts
av
beautifulsoup4
click
cloup
decorator
fastapi
glcontext
h11
httptools
idna
isosurfaces
manim
ManimPango
mapbox_earcut
markdown-it-py
mdurl
moderngl
moderngl-window
networkx
numpy
pillow
pycairo
pydantic
pydantic_core
pydub
pyglet
pyglm
Pygments
python-dotenv
PyYAML
rich
scipy
screeninfo
setuptools
skia-pathops
sniffio
soupsieve
srt
starlette
svgelements
svgpathtools
svgwrite
tqdm
typing-inspection
typing_extensions
uvicorn
uvloop
watchdog
watchfiles
websockets
wheel
